[Unit]
Description=Icecast Network Audio Streaming Server
After=network.target

[Service]
Type=simple
ExecStart=icecast -c /srv/pycecast-radio/resources/radio/conf/icecast.xml
ExecReload=/bin/kill -HUP $MAINPID
User=icecast
Group=icecast
WorkingDirectory=/home/icecast

[Install]
WantedBy=multi-user.target
