[Unit]
Description = Python radio streaming to icecast
Requires = icecast2.service
After = icecast2.service

[Service]
Type = simple
ExecStart = /srv/pycecast-radio/venv/bin/python radio.py
ExecReload = /bin/kill -HUP $MAINPID
User = icecast2
Group = icecast
WorkingDirectory = /srv/pycecast-radio

[Install]
WantedBy = multi-user.target
