[Unit]
Description=Eurobeat radio streaming to icecast
Requires = icecast.service
After = icecast.service

[Service]
Type=simple
ExecStart=/srv/pycecast-radio/venv/bin/python radio.py
ExecReload=/bin/kill -HUP $MAINPID
User=icecast
Group=icecast
WorkingDirectory=/srv/pycecast-radio

[Install]
WantedBy=multi-user.target